<link href="/css/normalize.css" rel="stylesheet">
<link href="/css/solid.min.css" rel="stylesheet">
<link href="/css/fontawesome.min.css" rel="stylesheet">
<link href="/css/common.css" rel="stylesheet">
<title>juunini's blog v2.0.1</title>
</head>
<body>

    <header>
        <div class="header">
            <h1><a href="/"><strong>juunini's</strong> blog <small>v2.0.1</small></a></h1>
            <ul>
                <li>
                    <a href="/tags">tags</a>
                </li>
            </ul>
        </div>